
MYSQL_RANDOM_ROOT_PASSWORD=true
MYSQL_DATABASE=dbname
MYSQL_USER=dbuser
MYSQL_PASSWORD=supersecret

DATABASE_URL="mysql://user:password@hostname:port/dbname"
JWT_SECRET=supersecretkey
JWT_EXPIRE=1d
PORT=5000