
# version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - mysql
    networks:
      - havjeang-network
    restart: always


  mysql:
    image: mysql:8
    container_name: mysql
    restart: always
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - havjeang-network

networks:
  havjeang-network:
    driver: bridge

volumes:
  db_data: