version: "3.9"

services:
  backend:
    build: .
    container_name: backend
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - mysql
    command: sh -c "npx prisma generate && npx prisma db push && npm run dev"


  mysql:
    image: mysql:8
    container_name: mysql
    restart: always
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/mysql
    # ports:
    #   - "3306:3306"

volumes:
  db_data:
