# Node
node_modules
npm-debug.log
yarn.lock
pnpm-lock.yaml

# Prisma
prisma/dev.db

# Environment files (IMPORTANT)
.env
.env.*

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml

# OS
.DS_Store
Thumbs.db
