openapi: 3.0.3
info:
  title: HavJeang API
  version: 1.0.0
  description: REST API documentation

servers:
  - url: http://localhost:5000

paths:
  /auth/login:
    post:
      summary: User login
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        "200":
          description: Login successful

