MYSQL_RANDOM_ROOT_PASSWORD=true
MYSQL_DATABASE=havjeang
MYSQL_USER=havjeang
MYSQL_PASSWORD=supersecret

DATABASE_URL="mysql://havjeang:supersecret@mysql:3306/havjeang"
JWT_SECRET=supersecretkey
JWT_EXPIRE=1d
PORT=5000
ORS_API_KEY=eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6IjEwMjI2MDNhZGRmZDQ0ZmI5M2QzNjRiZjEzMmU2ZDRmIiwiaCI6Im11cm11cjY0In0=
PRICE_PER_KM=1600
REQUEST_EXPIRY_MINUTES=2

VAPID_PUBLIC_KEY=BBFhbVFvG3DlFHazSmtJNjUQ5brATrPUnT0ToSjgjWBRuMctiZij00x7sRQCOJeV770Kq5MiLnTzNWdPXkNAfgw
VAPID_PRIVATE_KEY=TqKfXz40H9T3kv1QQz4EDWmN-yGoJ5mH1Y4K-EBq1o4